<html>
   <head>
      <%- include('partials/header1.ejs') %>
   </head>
   <body>
      <%- include('partials/navbar1.ejs') %>
      <div class="content">
         <h1><%= pageContent.find(item => item.Content_Type === '1').Content %></h1>
         <h2><%= pageContent.find(item => item.Content_Type === '2').Content %></h2>
         <h3><%= pageContent.find(item => item.Content_Type === '3').Content %></h3>
         <h3><%= pageContent.find(item => item.Content_Type === '4').Content %></h3>
         <h3><%= pageContent.find(item => item.Content_Type === '5').Content %></h3>
         <img 
            class="aboutpic" 
            src="<%= pageContent.find(item => item.Content_Type === '6').Image_Url %>" 
            alt="picture" 
            width="80%">
      </div>
      <br>
      <br>
      <%- include('partials/footer.ejs') %>
   </body>
</html>