<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <div class="content"> 
      <h2>Enrolment</h2>
      <h2>Fees</h2>
      <table class="table table-hover table-bordered">
        <thead class="table-light">
          <tr> 
            <th>Age Limits =></th>
            <th colspan="2">Under 3 years old</th>
            <th colspan="2">Over 3 years old</th>
          </tr>
          <tr>
            <th>Days</th>
            <th title="Short Day Fee">* Short Day</th>
            <th title="Long Day Fee">** Long Day</th>
            <th title="Short Day Fee">* Short Day</th>
            <th title="Long Day Fee (With 20 hours ECE attestation)">** Long Day</th>
          </tr>
        </thead>
        <tbody>
          <% feesData.forEach(fee => { %>
            <tr>
              <td><%= fee.day_count %></td>
              <td style="text-align: right;"><%= fee.short_day_fee_under_3 %></td>
              <td style="text-align: right;"><%= fee.long_day_fee_under_3 %></td>
              <td style="text-align: right;"><%= fee.short_day_fee_over_3 %></td>
              <td style="text-align: right;"><%= fee.long_day_fee_over_3 %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      
      <br>
      <div class="left-align-section">
        <h3>
          <ul>
            <% enrollmentDetails.forEach(detail => { %>
              <li><%= detail %></li>
            <% }); %>
          </ul>
        </h3>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
