<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <div class="content">
    <%- include('partials/slideshow.ejs') %>

      <h1><%= homepageContent.find(item => item.Content_Type === '1').Content %></h1>
      <h2><%= homepageContent.find(item => item.Content_Type === '2').Content %></h2>
      <h3><%= homepageContent.find(item => item.Content_Type === '3').Content %></h3>
      <h3><%= homepageContent.find(item => item.Content_Type === '4').Content %></h3>
      <h3><%= homepageContent.find(item => item.Content_Type === '5').Content %></h3>

    </div>
  
      <%- include('partials/footer.ejs') %>
  </body>
</html>