<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <div class="content"> 
      <h1>News and Events</h1>
      <div class="news-container">
          <% events.forEach(event => { %>
          <div class="event">
              <h2><%= event.title %></h2>
              <p><%= event.description %></p>
              <p>Date: <%= event.event_date %></p>
              <% if (event.image_url) { %>
                  <img src="<%= event.image_url %>" alt="Event Image">
              <% } %>
          </div>
          <% }); %>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>