<html>
  <head>
    <%- include('partials/header1.ejs')%>
  </head>
  <body>
    <%- include('partials/navbar1.ejs')%>
    <div class="content">
      <div class="login-container">
      
      <h2>Set New Password</h2>
       
        <% if (message) { %>
          <div style="color: red; font-weight: bold;"><%= message %></div>
        <% } %>
        
        <form action="/setPassword/<%= email %>" method="post">
          <label for="password">New Password:</label>
          <input type="password" name="password" placeholder="New Password" id="password" required>
          <br>
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
          <br>
          <div style="text-align: right;">
            <input type="submit" value="Set Password">
          </div>
        </form>
    </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>